---
layout: default
---
<h1>Jan Prus-Czarnecki</h1>
<p><a href="mailto:janpc01@gmail.com">janpc01@gmail.com</a></p>

<hr>

<div class="content">
    <h2>About Me</h2>
    {% include about.html %}

    <details>
        <summary><h2>Blog</h2></summary>
        {% include blog.html %}
    </details>

    <details>
        <summary><h2>Certifications &amp; Achievements</h2></summary>
        {% include certifications.html %}
    </details>

    <details>
        <summary><h2>Reading List</h2></summary>
        {% include reading-list.html %}
    </details>

    <details>
        <summary><h2>Languages</h2></summary>
        {% include languages.html %}
    </details>
</div>
