<ul>
    <li>Coursera Certifications:
        <ul>
            <li>Neural Networks:
                <ul>
                    <li><a target="_blank" rel="noopener" href="https://www.coursera.org/account/accomplishments/verify/7DUJXXREZKMH">Neural Networks and Deep Learning</a> - DeepLearning.AI</li>
                    <li><a target="_blank" rel="noopener" href="https://www.coursera.org/account/accomplishments/verify/BLMSDWB73BLW">Improving Deep Neural Networks: Hyperparameter tuning, Regularization and Optimization</a> - DeepLearning.AI</li>
                </ul>
            </li>
            <li>Supervised Learning:
                <ul>
                    <li><a target="_blank" rel="noopener" href="https://www.coursera.org/account/accomplishments/verify/CKJUZCEZH6FX">Supervised Machine Learning: Regression and Classification</a> - Stanford University</li>
                </ul>
            </li>
            <li>Reinforcement Learning:
                <ul>
                    <li><a target="_blank" rel="noopener" href="https://www.coursera.org/account/accomplishments/certificate/XZGD5WSNEVJP">Fundamentals of Reinforcement Learning</a> - University of Alberta</li>
                    <li><a target="_blank" rel="noopener" href="https://www.coursera.org/account/accomplishments/certificate/77MKTAYFNTQC">Sample-based Learning Methods</a> - University of Alberta</li>
                    <li><a target="_blank" rel="noopener" href="https://www.coursera.org/account/accomplishments/certificate/936VEMYZ257X">Prediction and Control with Function Approximation</a> - University of Alberta</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>Jason Lang Scholarship</li>
    <li>Alexander Rutherford Scholarship</li>
    <li>Judo Black Belt - <a target="_blank" rel="noopener" href="https://www.judoinside.com/judoka/118559/Jan_Prus_Czarnecki/judo-career">6x Provincial Champion and Canadian National Championships Cadets Bronze Medalist</a></li>
    <li>NCCP Judo Dojo Instructor teaching kids 8-12 years old at <a target="_blank" rel="noopener" href="https://www.kodokwaijudo.com/about-us/">Kodokwai Judo Club</a></li>
</ul>
