<ul>
    <li>
        <strong>Currently reading:</strong>
        <ul>
            <li>"The Joke" by Milan Kundera</li>
            <li>"Designing Data-Intensive Applications" by Martin Kleppmann</li>
        </ul>
    </li>
    <li>
        <strong>Some of my favorite books in no particular order:</strong>
        <ul>
            <li>"East of Eden" by John Steinbeck</li>
            <li>"Solaris" by Stanisław Lem</li>
            <li>"The Hitchhiker's Guide to the Galaxy" by Douglas Adams</li>
            <li>"The Manuscript Found in Saragossa" by Jan Potocki</li>
            <li>"Heart of Darkness" by Joseph Conrad</li>
            <li>"The Screwtape Letters" by C.S. Lewis</li>
            <li>"Mathew's Gospel" by St. Matthew</li>
        </ul>
    </li>
</ul>
