---
layout: default
---
<div class="content">
    <h1>{{ page.title }}</h1>
    <p class="post-date">{{ page.date | date: "%B %d, %Y" }}</p>

    {{ content }}

    <div class="comments">
        {% if page.comments != false %}
        <script src="https://giscus.app/client.js"
                data-repo="janpc01/janpc01.github.io"
                data-repo-id="R_kgDONR6GQA"
                data-category="Announcements"
                data-category-id="DIC_kwDONR6GQM4ClN7R"
                data-mapping="pathname"
                data-strict="1"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="bottom"
                data-theme="light"
                data-lang="en"
                crossorigin="anonymous"
                async>
        </script>
        {% endif %}
    </div>

    <p><a href="{{ '/' | relative_url }}">&larr; Back to home</a></p>
</div>
